<div class="login-container">
    <div align="center" style="color: green;font-weight: bold">{{successMsg}}</div>
    <div align="center" style="color: green;font-weight: bold">{{successMsgQ}}</div>
    <mat-card align="center" *ngIf="successMsg==null" style="width: 300px;">
      <mat-card-header >
          <mat-card-title>Reset Password</mat-card-title>
          <!-- <mat-card-subtitle>Enter your password</mat-card-subtitle> -->
        </mat-card-header>
        <div class="text-danger">{{errorMsg}}</div>
   <!--  <form> -->
      
      <div>
        <mat-form-field style="width:100%">
           <input type="password" matInput required minlength="6" placeholder="Password" [(ngModel)]="password" #passwordRef="ngModel">
        </mat-form-field>
        <small class="text-danger" *ngIf="passwordRef.errors?.minlength">Password must be at least 6 characters</small>
      </div>
      <div>
          <mat-form-field style="width:100%">
             <input type="password" matInput required minlength="6" placeholder="Confirm Password" [(ngModel)]="confirmPassword" #confirmPasswordRef="ngModel">
          </mat-form-field>
        </div>
        <div>
      </div>
      <div align="center" *ngIf="showSpinner"> 
          <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="!showSpinner">
        <div   style="padding: 5px">
          <button mat-flat-button color="primary" [disabled]="!passwordRef.valid || !confirmPasswordRef.valid || passwordRef.value!=confirmPasswordRef.value" type="button" (click)="subbmitResetRequest()">Reset</button>
        </div>
    </div>
      
   <!--  </form> -->
  </mat-card>
  </div>