
<div class="text-danger" align="center">{{errorMsg}}</div>
<mat-card class="reg-card">
    <div class="reg-tital"><h2>Add Expense Details</h2></div>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <mat-form-field >
          <input required matInput  type="text" placeholder="Expense Name"  formControlName="expenseDetailName" class="form-control">
        </mat-form-field>
      <div *ngIf="expenseDetailName.invalid && expenseDetailName.touched">
        <small class="text-danger" *ngIf="expenseDetailName.errors?.required">Expense Name is required</small>
      </div>
    </div>

    <div class="form-group">
        <mat-form-field>
          <input type="text"  matInput placeholder="description"  formControlName="description">
      </mat-form-field>
      <div *ngIf="description.invalid && description.touched">
          <small class="text-danger" *ngIf="description.errors?.required">description is required</small>
      </div>
    </div>

    <div class="form-group" >
      <mat-form-field >
      <input  matInput placeholder="Expense Type"  formControlName="typeOfExpense" class="form-control">
    </mat-form-field>
        <small class="text-danger" *ngIf="typeOfExpense.invalid && typeOfExpense.touched && typeOfExpense.errors?.required">Expense Type is required</small>
    </div>

    <div class="form-group" >
      <mat-form-field>
        <mat-label>Payment Type</mat-label>
        <mat-select placeholder="Payment Mode" formControlName="paymentMode" class="form-control">
          <mat-option [value]="CASH" >CASH </mat-option>
          <mat-option  [value]="CARD"  >CARD </mat-option>
        </mat-select>
      </mat-form-field>
        <small class="text-danger" *ngIf="paymentMode.invalid && paymentMode.touched && paymentMode.errors?.required">Payment Mode is required</small>
    </div>
   

    <div align="center" *ngIf="showSpinner"> 
        <mat-spinner color="warn"></mat-spinner>
    </div>
    <div *ngIf="!showSpinner ">
      <button [disabled]="!registrationForm.valid" align="right" *ngIf="subDto==null" mat-flat-button color="primary"  class="btn btn-primary"  type="submit">Add</button>
      <button [disabled]="!registrationForm.valid" *ngIf="subDto!=null" mat-flat-button color="primary"  class="btn btn-primary"  type="submit">Update</button>
      <button style="margin-left: 5px; width: 100px"  mat-flat-button color="primary" (click)="back()"    type="button">Back</button>
    </div>
    <br>
  </form>
</mat-card>

