<div class="login-container">
    <div align="center" style="color: red;font-weight: bold">{{errorMsg}}</div>
    <div align="center" style="color: green;font-weight: bold">{{successMsg}}</div>
<mat-card align="center" *ngIf="successMsg==null">
  <mat-card-header >
      <mat-card-title>Reset Passwrod</mat-card-title>
      <mat-card-subtitle>Please enter your registered email address to get a password reset link.</mat-card-subtitle>
    </mat-card-header>
<!--  <form> -->
  <div >
    <mat-form-field style="width:60%" >
       <input  type="email" matInput required email placeholder="Email Address" [(ngModel)]="emailId" #email="ngModel">
   </mat-form-field>
  </div>
 
  <div align="center" *ngIf="showSpinner"> 
      <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!showSpinner">
    <div    style="padding: 5px;">
      <button style="margin: 5px;" mat-flat-button color="primary" [disabled]="!email.valid"  type="button" (click)="sendResetMail()">Get Link</button>
      <button style="margin: 5px;" mat-flat-button color="primary" routerLink="/forgotPasswordOtp"   type="button">Try OTP</button>
    </div>
  </div>
  
<!--  </form> -->
</mat-card>
</div>